@model IEnumerable<Song>
@{
	ViewBag.Title = "Home";
}
<div class="container-md px-md-5">
	<div class="row">
		<div class="container">
			<div class="column add-bottom">
				<div id="mainwrap">
					<div id="nowPlay">
						<span id="npAction">Paused...</span><span id="npTitle"></span>
					</div>
					<div id="audiowrap">
						<div id="audio0">
							<audio id="audio1" preload controls>
								Your browser does not support HTML5 Audio!
								😢
							</audio>
						</div>
						<div id="tracks">
							<a id="btnPrev">&vltri;</a><a id="btnNext">&vrtri;</a>
						</div>
					</div>
					<form class="form-inline my-md-2">
						<div class="md-form my-0 width-50 mx-auto">
							<input class="form-control mr-sm-2 white-text width-100" type="text"
								   placeholder="Поиск" aria-label="Search">
						</div>
					</form>
					<div id="plwrap">
						<ul id="plList">
							@foreach (var song in Model)
							{
								<li>
									<div class="plItem">
										<span class="plNum"></span>
										<span class="plTitle">@Html.Raw(song.Author + " - " + song.Name)</span>
										@*<span class="plLength">@Html.Raw(song.Duration.Minutes+":"+song.Duration.Seconds)</span>*@
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>