@model UTMusic.Data.Entities.User
@{
	ViewBag.Title = "Home";
}
<div class="container-md px-md-5">
	<div class="row">
		<div class="container">
			<div class="column add-bottom">
				<div id="mainwrap">
					<div id="nowPlay">
						<span id="npAction">Paused...</span><span id="npTitle"></span>
					</div>
					<div id="audiowrap">
						<div id="audio0">
							<audio id="audio1" preload="auto" controls>
								Your browser does not support HTML5 Audio!
								😢
							</audio>
						</div>
						<div id="tracks">
							<a id="btnPrev">&vltri;</a><a id="btnNext">&vrtri;</a>
						</div>
					</div>
					<form class="form-inline my-md-2">
						<div class="md-form my-0 width-50 mx-auto">
							<input class="form-control mr-sm-2 white-text width-100" type="text"
								   placeholder="Поиск" aria-label="Search">
						</div>
					</form>
					<div class="container">
						<div class="row justify-content-center">
							<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#songUpload">
								<i class="fas fa-cloud-upload-alt" aria-hidden="true">
									Upload Song
								</i>
							</button>
						</div>
					</div>
					<div id="plwrap">
						<ul id="plList">
							@{
								var songs = User.Identity.IsAuthenticated && Model != null ? Model.Songs : ViewBag.Songs;
								if (songs != null)
								{
									foreach (var song in songs)
									{
										<li>
											<div class="plItem" file="@song.FileName">
												<span class="plNum"></span>
												<span class="plTitle">@song.Name</span>
												@if (User.Identity.IsAuthenticated)
												{
													<span class="plLength">
														<a class="plLength" href="@Url.Action("DeleteSong", "Account", new { @songId = song.Id })">
															<i class="far fa-trash-alt text-white"></i>
														</a>
													</span>
												}
											</div>
										</li>
									}
								}
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@Html.Partial("_UploadModal")